<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/home.css" />
    <title>Sokoliosi Detector</title>
  </head>
  <body>
    <header>
      <nav>
        <div class="navbar-logo">
          <h2>Skoliosis Detector</h2>
        </div>
      </nav>
    </header>

    <main>
      <section class="hero">
        <div class="content-container">
          <div class="text">
            <h2>Deteksi Penyakit Sokliosis Anda!</h2>
            <p>
              Gunakan fitur kami untuk mengetahui gejala<br />skoliosis dalam
              diri anda, hanya dengan<br />menggunakan satu gambar!
            </p>
            <form action="/deteksi" method="get">
              <a>
                <button class="btn" type="submit">Deteksi Sekarang!</button>
              </a>
            </form>
          </div>
          <div class="img">
            <img src="../static/img/10774311.jpg" alt="" class="" />
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
