<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/home.css" />
    <title>Sokoliosi Detector</title>
  </head>
  <body>
    <header>
      <nav>
        <div class="navbar-logo">
          <h2>Skoliosis Detector</h2>
        </div>
        <div class="navbar-nav">
          <a href="#">Beranda</a>
          <a href="../templates/deteksi.html">Deteksi</a>
          <a href="../templates/about.html">Tentang</a>
        </div>
      </nav>
    </header>

    <main>
      <section class="hero">
        <div class="content-container">
          <div class="text">
            <h2>Deteksi Penyakit Sokliosis Anda!</h2>
            <p>
              Gunakan fitur kami untuk mengetahui gejala<br />skoliosis dalam
              diri anda, hanya dengan<br />menggunakan satu gambar!
            </p>
            <form action="/deteksi" method="get">
              <a>
                <button class="btn" type="submit">Deteksi Sekarang!</button>
              </a>
            </form>
          </div>
          <div class="img">
            <img src="../static/img/10774311.jpg" alt="" class="" />
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
